<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499002292858-c4lq5a6tlnl7j38oov38sff3s7ag9eoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499002292858-c4lq5a6tlnl7j38oov38sff3s7ag9eoj</string>
	<key>API_KEY</key>
	<string>AIzaSyC0DlBgGhNdDrxTSHW3rMt50vcDyXxTViw</string>
	<key>GCM_SENDER_ID</key>
	<string>499002292858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.misikiv1</string>
	<key>PROJECT_ID</key>
	<string>my-loco-food</string>
	<key>STORAGE_BUCKET</key>
	<string>my-loco-food.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499002292858:ios:db71d9e197b65283b299c3</string>
</dict>
</plist>